/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
	background-color: #222222;
	color: #DDDDDD;
 }
 
 a {
	color: #AAAADD;
 }
 
 a:visited {
    color: #B0ABA0;
}
 
 #header, #content {
	width: 60%;
	margin: 0px auto;
 }
 
 table, table tr td:first-child, table thead tr th:first-child {
	width: 100%;
 }
 
 table tr td, table thead tr th {
	text-align: left;
	min-width: 80px;
 }
 
 .profile .label {
	clear: both;
	text-align: right;
	min-width: 70px;
	margin-right: 16px;
 }
 
 .profile .label, .profile .field {
	float: left;
	display: inline-block;
 }
 
 #userlist tr td, #userlist thead tr th {
	width: auto;
 }
 
 .phorum-image {
	max-width: 100%;
 }