<% cache [@category, current_user, params[:page]] do %>
<h2><a href="#"><%= @category %></a></h2>

<%= render partial: "layouts/topics_list" %>
<% end %>

<% if user_signed_in? %>
<br>

<%= link_to 'New Topic', new_category_topic_path(category_id: @category.id) %>
<% end %>